@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
$fa-font-path:"../webfonts";

$qwe:red;
button:after{
  @extend %fa-icon;
  @extend .fab;
  content: fa-content($fa-var-facebook);
}
*{
	//border: 1px solid red;	
}
